.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-description {
  background-color: #FAFAD2;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: calc(20px);
  text-align: left;
  font-size: calc(14px);
  color: black;
}

.App-body {
  background-color: #DCDCDC;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(10px);
  padding-bottom: calc(10px);
  padding-left: calc(20px);
  padding-right: calc(20px);
  justify-content: flex-start;
  font-size: calc(14px);
  color: black;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.tab-content {
  padding: 10px;
}

nav.nav-tabs {
  margin-bottom: 0;
}

table {
  overflow: auto;
  display: block;
  table-layout: auto;
}

table.table-bordered{
  border: 1px solid black;
}

table.table-bordered > thead > tr > th {
    border: 1px solid black;
}
table.table-bordered > tbody > tr > td {
    border: 1px solid black;
}